
article {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bekapcs, .kikapcs{
width: 90px;
height: 90px;
border-radius: 50%;
}

.bekapcs {
    background-color: yellow;
}

.kikapcs {
    background-color: black;
}